

body {

background-color:#9cfcb4;
font-family: "Trebuchet MS" Verdana, Arial, sans-serif;
font-size: 15px;
color: darkblue;
line-height: 24px;
}

a {
	color: #CB392C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrap {
width: 800px;
margin: 0 auto;
}


#header {
height: 100px;
}
#header h1 {
font-size: 30px;
font-weight: 100;
letter-spacing: -3px;
padding: 25px 0 0 0px;
}
#header h1 a {
text-decoration: none;
color: #B7271F;
}
#header h1 a:hover {
text-decoration: none;
color: #000;
}
#header h2 {
color: #666;
font-size: 18px;
font-weight: 100;
padding: 0 0 0 1px;
}

#menu {
height: 30px;
line-height: 30px;
}
#menu ul {
padding-left: 5px;
list-style-type: none;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
color: black;
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 600;
}
#menu ul li a:hover {
color: #899;
text-decoration: underline;
}
#content {
margin: 12px 0;
line-height: 20px;
}

.left {
float: left;
width: 580px;
text-align: justify;
}
.left h2 {
color: #B7271F;
font-size: 24px;
letter-spacing: -3px;
font-weight: 100;
padding : 10px 0 15px 0;
}
.left h2 a {
color: #B7271F;
}
.left h2 a:hover {
color: #333;
}

.right {
margin-top: 12px;
float: right;
width: 170px;
padding: 12px;
background-color:lightgreen;
border: 2px solid #000066;
}
.right h2 {
font-size: 22px;
color: #658;
padding: 2px 0 5px 0;
}
.right ul {
list-style-type: none;
padding: 5px 0 10px 0;
}
.right ul li {
}
.right ul li a {
display: block;
border-bottom: 3px solid #555;
color: #666;
padding: 2px 10px;
}
.right ul li a:hover {
color: blue;
text-decoration: overline;
}

h3{
color:#cc00cc;
	
}